.hide{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    margin: 0 2% 2% 2%;
}
h3 {
    margin: 0px;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* gap: 10px; */
    margin: auto 15%;
}
.city{
    display: flex;
    gap: 10px;
    border-bottom: solid 1px grey;
    width: 80%s;
    align-items: center;
    justify-content: space-between;
}
.city:last-of-type {
    border: none;
}
.city > p {
    margin-top: 4px;
    margin-bottom: 4px;
}